/* 
! Тексттовые свойства
?font+
? font-family+
? font-style+
? font-variant+
? font-size+
? line-height+
? font-weight+

! Шрифтовые свойства
? text-align+
? vertical-align+(особое внимание)
http://htmlbook.ru/css/vertical-align
? letter-spacing+
? word-spasing+
? text-indent+
? text-transform+
? text-decoration+
? text-shadow+
? color+
? @font-face (подключение шрифтов разными способами)+(ocoбое внимание: трансфонтеры, GoogleFonts)
? word-wrap+
? white-space+(особое внимание)

!Блочно-строчная модель документа
? width, max-width, min-width
https://habr.com/ru/post/483634/
http://htmlbook.ru/samlayout/blochnaya-verstka/blochnaya-model
? padding+
? margin(схлопывание)+
http://htmlbook.ru/samlayout/blochnaya-verstka/skhlopyvayushchiesya-otstupy
? overflow+(особое внимание)
? стилизация ссылок+
? img+(особое внимание)
? display: inline-block+(особое внимание)
https://css-live.ru/articles/zagadochnye-otstupy-mezhdu-inlajn-blokami.html
? display: block+
? Валидатор (особое внимание)+
? git и github (особое внимание)+

!Оформление
? outline+
? border (transparent)+
? border-radius+
? opasity+
? visibility+
? box-shadow (filter:drop-shadow)+
* background: color image position size repeat attachment
? background-color+
? background-image+
? background-position+
? background-size
? background-repeat+
? background-attachment
*https://www.youtube.com/playlist?list=PLM6XATa8CAG4F9nAIYNS5oAiPotxwLFIr


  !Псевдоклассы
  ? :first-child+
  ? :last-child+
  ? :nth-child()+
  ? :last-of-type+
  ? :first-of-type+

  !Псевдоэлементы
  ? ::first-line+
  ? ::first-letter+
  ? ::before+
  ? ::after+

  !Форматы изображений
  ?webp
  ? <picture>
  ?   <source srcset="img/pic.webp" type="image/webp">
  ?   <img src="img/pic.jpg" alt="pic" with="0" height="0">
  ? </picture>

  !< !-- Б.Э.М. -->

  !< !-- Блок -->
  < !-- НЕЗАВИСИМЫЙ объект. НЕ влияет на окружение (внешние объекты).

  ?Имя класса БЭМ блока: 

  1) Имя должно соответствовать содержанию либо конструкции Отвечать на вопрос "Что это?"
  2) Английский язык (Латиница) 
  3) Нижний регистр 
  4) Если слов несколько,
  разделяем дефисом (-). 
  5) НИКАКОЙ ИЕРАРХИИ ! ! ! 
  
  Мы можем вкладывать сколько угодно БЭМ блоков друг в друга,
  также БЭМ блоки можно вкладывать в БЭМ элементы -->
*/


/*! < !-- Элемент -->
< !-- ЗАВИСИМЫЙ объект от своего БЭМ блока
ВСЕГДА находится внутри своего БЭМ блока 
МОЖЕТ влиять на окружение (внешние объекты) 

/*?Имя класса БЭМ элемента: 

1) Всегда начинается с имени первого родительского БЭМ блока и отделяется двумя нижними подчеркиваниями (__) 
2) Имя должно соответствовать содержанию либо конструкции. Отвечать на вопрос "Что это?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! 

БЭМ элементы можно вкладивать в другие БЭМ элементы своего БЭМ блока --> */


/*! < !-- Модификатор -->
< !-- Позволяет вносить отличия для БЭМ блока либо БЭМ элемента 

/*?Имя класса БЭМ модификатора: 

1) Добавляется как еще один класс для БЭМ блока или БЭМ элемента. Начинается с полного имени БЭМ блока или БЭМ элемента и отделяется одним нижними подчеркиванием (_) 
2) Имя должно соответствовать вносимым модификациям. Отвечать на вопрос "какой? что изменяем?"
3) Английский язык (Латиница) 
4) Нижний регистр 
5) Если слов несколько,
разделяем дефисом (-). 
6) НИКАКОЙ ИЕРАРХИИ ! ! ! --> */

/*! < !-- Микс -->

< !-- Смесь БЭМ блока и БЭМ элемента для одного объекта. 
При этом БЭМ элемент может выступать в роли БЭМ модификатора --> */


/* !Позиционирование
? position: static;
? position: relative;
? position: absolute;
? position: fixed;
? position: sticky;


/* !Трансформации
? transform: translate(x,y);
? transform: scale(n,m);
? transform: rotate(a + deg);
? transform: skew(a + deg, b+deg);
? transform-origin;
? transform-style;
? backface-visibility;
https: //fls.guru/transform.html


/* !Переходы
?transition-duration;
?transition-property;
?transition-timing-function;
?transition-delay;
https: //fls.guru/csstransition.html


/* !Анимации
?animation-name;
?animation-duration;
?animation-timing-function;
?animation-iteration-count;
?animation-direction;
?animation-play-state;
?animation-delay;
?animation-fill-mode;
https: //fls.guru/cssanimation.html

*/


@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

/* @font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


* {
    box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
}

.wrapper {
  overflow: hidden;
}

.header {
  
}

.main {
  /* min-height: 100vh; */
}


/* ! --------------impact------------------ */
.impact {
  max-width: 1440px;
  margin: 0 auto;
  padding: 106px 0px 215px 0px;
  background: #29C3BE url(../img/impact/Blob\ 2.png) 550px 0px no-repeat;;
}

.main__impact {
  /* margin: 100px 0px 100px 0px; */
}

.impact__container {
  
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.impact__row-top {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 79px 0px;
}

.impact__titles {
  max-width: 411px;
}

.subtitle {
  position: relative;
  padding: 0px 0px 0px 33px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subtitle::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  display: block;
  width: 18px;
  height: 21px;
  background: url(../img/impact/Overline\ Mark.svg) 0 0 no-repeat;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.impact__picture {
  margin: -192px 0px 0px 0px;
}

.impact__img {
  display: block;
  border-radius: 40px;
}


.impact__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;

}

.item {
  display: flex;
  width: 237px;
}


.item__image {
  margin: 0px 11px 0px 0px;
}

.item__inform {

}

.item__icon {}

.item__head {
  padding: 0;
  margin: 0px 0px 3px 0px;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.item__text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #5D62B5;
}



/* ! --------------promise------------------ */
.promise {
  padding: 110px 0px 122px 0px;
}

.main__promise {}

.promise__container {}

.container {}

.promise__subtitle {
  margin: 0px 0px 33px 0px;
}

.subtitle {}

.subtitle--vilet {
  color: #5D62B5;
}

.subtitle--vilet::before {
  position: absolute;
  top: -2px;
  left: 0;
  content: "";
  display: block;
  width: 18px;
  height: 21px;
  background: url(../img/promise/Overline\ Mark.svg) 0 0 no-repeat;
}

.title {}

.promise__title {
  margin: 0px 0px 72px 0px;
}

.title--black {
  color: #000;
}

.promise__icons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.promise__icon {
  display: flex;
  осыи  
  min-width: 324px;
}

.promise__img {
  margin: 0px 23px 0px 0px;
}

.promise__pic {
  display: block;
}

.promise__info {
  max-width: 235px;
}

.promise__heading {
  margin: 0px 0px 20px 0px;
  font-weight: 900;
  font-size: 19px;
  line-height: 26px;
  color: #F2726F;
}

.text {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #4B4B4B;
}

